@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item {
  @apply text-center border border-white py-1 w-full rounded-md text-sm bg-black;
}

.search-bar {
  @apply bg-black py-2 w-6/12 px-4 rounded-3xl;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
  height: 2px;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: gray;
  height: 2px;
  padding: 2rem;
  cursor: pointer;
}
